<div class="jumbotron">
      <img src="../../../assets/img/DeliverEatTitulo.png" class="center" alt="DeliverEat!">
    <h1>Aplicación de DeliverEat! (En Desarrollo)</h1>
      <p>Este ejemplo está desarrollado con las siguientes tecnologías: </p>
   <p>Backend: Visual Studio Code 2019
   <p>Frontend: Single Page Aplication, HTML, CSS, Bootstrap, Typescript y Angular.</p>
    <button type="button" class="btn btn-lg btn-danger" routerLink="/comercios">
       <span class="fas fa-search"> </span>
       Ver Comercios Adheridos
    </button>
 </div>
 
