<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <img src="../../../assets/img/DeliverEatLogo.png" height="50px" width="50px" alt="DeliverEatLogo">
    <nav class="navbar navbar-light bg-ligth text-white">
      DeliverEat!
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--
            <li class="nav-item">
                <a class="nav-link"  routerLink="/carrito" title="Carrito de compras"><span class="fas fa-shopping-cart"></span></a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link"  routerLink="/inicio" title="Página de inicio">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/comercios" title="Listado de comercios adheridos">Comercios Adheridos</a>
            </li>
        </ul>
    </div>
</nav>


